<mat-card class="tool-mat">
  <div class="text-xl mt-2 gt-xs:ml-2">
    LOGO

    <span class="flex justify-end items-end -mt-9 lt-xs:hidden">
      <mat-icon class="m-2">calendar_today</mat-icon>
      <mat-icon class="m-2">notifications</mat-icon>
      <mat-icon class="m-2">account_circle</mat-icon>
    </span>
  </div>
</mat-card>

<div class="m-1 -mt-12">
<mat-tab-group class="  lt-xs:ml-7 flex justify-center items-center">
  <mat-tab class="" label="Home">
    <app-home></app-home>
  </mat-tab>
  <mat-tab label="MyCases">
    <app-my-cases></app-my-cases>
  </mat-tab>
</mat-tab-group>
</div>