.tool-mat{
    height: 40px;
}

.custom-tab-group {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mat-tab-body-wrapper {
    width: 100vw;
  }